<a href="https://colab.research.google.com/github/PrishaTHE-PRO/C-140/blob/main/P_140.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [16]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"prisha1","key":"b0872ca4adb763a06f4d861c7127b1e3"}'}

In [17]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [18]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

articles-sharing-reading-from-cit-deskdrop.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!ls

In [19]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
replace shared_articles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: shared_articles.csv
replace users_interactions.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: users_interactions.csv

In [20]:
import pandas as pd 
import numpy as np 

df1=pd.read_csv('shared_articles.csv')
df2=pd.read_csv('users_interactions.csv')

In [21]:
df1.head()

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en

[5 rows x 13 columns]

In [22]:
df2.head()

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN
3  1465413895    FOLLOW  ...         NaN          NaN
4  1465412290      VIEW  ...         NaN          NaN

[5 rows x 8 columns]

In [23]:
df1=df1[df1['eventType']=='CONTENT SHARED']
df1.head()

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en
5  1459194522  ...   en

[5 rows x 13 columns]

In [24]:
def total_events(df1_row):
  total_likes=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='LIKE')].shape[0]
  total_views=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='VIEW')].shape[0]
  total_bookmarks=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='BOOKMARK')].shape[0]
  total_follows=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='FOLLOW')].shape[0]
  total_comments=df2[(df2['contentId']==df1_row['contentId'])& (df2['eventType']=='COMMENT CREATED')].shape[0]
  return total_likes+total_views+total_bookmarks+total_follows+total_comments
df1['total_events']=df1.apply(total_events,axis=1)
df1=df1.sort_values(['total_events'],ascending=False)
df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]

In [26]:
def convert(x):
  if isinstance(x,str):
    return x.lower()
  else:
    return''
df1['title']=df1['title'].apply(convert)
df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
count=CountVectorizer(stop_words='english')
count_matrix=count.fit_transform(df1['title'])
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2=cosine_similarity(count_matrix,count_matrix)
df1=df1.reset_index()
indices=pd.Series(df1.index,index=df1['contentId'])

In [31]:
def get_recommedations(contentId,cosine_sim):
  idx=indices[contentId]
  sim_scores=list(enumerate(cosine_sim[idx]))
  sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)
  sim_scores=sim_scores[1:11]
  movie_indices=[i[0]for i in sim_scores]
  return df2['contentId'].iloc[movie_indices]
get_recommedations(-4029704725707465084,cosine_sim2)

817     6850500272809381909
698    -7463305179076477879
86      -692972306229904743
181    -5997769775112032630
209     5964888566269323942
1109    8657408509986329668
1284    8657408509986329668
1862   -9192549002213406534
2632   -1981734999963962468
319     7429409096643373334
Name: contentId, dtype: int64